<template>
  <!--
  <v-row>
    <v-col cols=7>
      <CloudChamber/>
      </v-col>
      
    <v-col cols=5>
      <v-divider vertical thickness=10></v-divider>
      <CMSEventDisplay />
    </v-col>
  </v-row>
-->
  <div width=100%>
    <SplitPanel :intialFracLeft=0.6>
      <template v-slot:left>
        <CloudChamber/>
      </template>
      <template v-slot:right>
        <CMSEventDisplay/>
      </template>
    </SplitPanel>
  </div>
</template>

<script lang="ts" setup>

import SplitPanel from '@/components/SplitPanel.vue'

</script>
