<template>
    <v-card class="my-15 text-h1 img-container" width=99%>
        <v-card-title class="text-h1  ml-10">
            RAL Cloud Chamber
        </v-card-title>
        <v-card-text class="text-h4 mx-6">
            A live display of our cloud chamber detecting cosmic rays in this very room. Go take a look!
            <br>
            <div class="my-5">There are alpha, beta, and muon particles being detected</div>
            <ul class="ml-10">
                <li class="ml-10">alpha : 2 protons and 2 neutrons: short thick line</li>
                <li class="ml-10">beta : electron or positron: thin line</li>
                <li class="ml-10">muon : heavy cousin of the electron: thin long line</li>
            </ul>
        </v-card-text>
        <div class="ml-10">
            <img :src="url" style="display">
            <canvas id="canvas" class="cropped" width=800 height=800></canvas>
        
        </div>
    </v-card>

</template>

<script lang="ts" setup>
import { ref, onMounted, watch } from 'vue'
const baseurl = 'http://localhost:5000/video_feed';
const url = ref(baseurl);

let updateIntervalID = 0;
onMounted(() => {
    startRefresh();
    //startAnimation();
});
function startRefresh() {
    stopRefresh();
    updateIntervalID = setInterval(() => {
        url.value = baseurl + '?' + Math.random();
    }, 10000);
}

function stopRefresh() {
    clearInterval(updateIntervalID);
}


</script>

<style scoped>
.cropped {
    width: 2400px;
    overflow: hidden;
}

.croppedimg {
    margin: 0px 0px 0px 0px;
}

.img-container {
    overflow: hidden;
    height: 2000px;
    
    
}

.img {
    display: block;
    width: 130%;
    height: auto;
    top: 700px;

}
</style>