<template>
    <div class="mx-5">
    <v-row>

    </v-row>
    <v-row class="my-10 mx-2">
        <div class="text-h1 mt-15">
            {{ liveLinkupStr }}
            
        </div>
    </v-row>
    <v-row>
        <div class="text-h4 mb-15 mx-6" >
            link up will be to the {{ nextLinkup.experiment }} experiment at CERN
        </div>
    </v-row>
    <v-row>
        <v-col>
            <v-container>
                <!--
                <v-row>
                    <v-card elevation=0>
                        <v-card-title>View of the Calorimeters</v-card-title>
                        <v-card-text>
                            <img :src="event2D" alt="event image" width=800px />
                        </v-card-text>
                    </v-card>
                </v-row>
            -->
                <v-row>
                    <div class="text-h3 mx-2 mb-n3">
                        {{ collisionsTitleStr }}
                    </div>
                </v-row>
                <v-row>
                    <div class="text-green text-h3 my-4 mx-2">
                        <br><br>
                        green lines are charged particles in the tracker
                    </div>
                </v-row>
                <v-row>
                    <div class="text-red text-h3  my-5 mx-2">
                        red blobs are energy deposits of electrons and photons
                    </div>
                </v-row>
                <v-row>
                    <div class="text-blue-darken-2 text-h3 my-5 mx-2">
                        blue blobs are energy deposits of hadronic jets
                    </div>
                </v-row>
                <v-row>
                    <div class="text-red-darken-3 text-h3 my-5 mx-2">
                        the red lines are muons, a heavy cousin of the electron
                    </div>
                </v-row>
                <v-row>
                    <div class="text-h3 my-5 mx-2">
                        play our particle guesser game by the ATLAS control room to learn more!
                    </div>
                </v-row>
                <v-row class="mt-15">
                    <LHCInfo2 :pileup="cmsData.pileup" :lhcRate="cmsData.nbunches*11245" :instLumi="cmsData.instLumi"
                              :physicsRate="cmsData.physicsRate" :daqBandwidth="cmsData.daqBandWidth"
                              :dataCollTime="dataCollTime"/>
                    
                    
                    
                </v-row>
            </v-container>
        </v-col>
        <v-col>
            <v-container>
                <v-row class="mt-4">
                    <v-card elevation=0>
                        <v-card-title class="text-h4">Sideways On</v-card-title>
                        <v-card-text>
                            <div class="image-container">
                                <img :src="eventRhoZ" alt="event image" width=920px />    
                                <!--
                                <div class="proton" ref=proton1></div>
                                <div class="proton" ref=proton2></div>
                                -->
                            </div>
                        </v-card-text>
                    </v-card>
                </v-row>
                <v-row class="mt-4">
                    <v-card elevation=0 width=100%>
                        <v-card-title class="text-h4">Head On</v-card-title>
                        <v-card-text>
                            <img :src="eventRhoPhi" alt="event image" width=100% class="" />
                        </v-card-text>
                    </v-card>
                </v-row>
                <v-row>
                    <div class="d-flex flex-row-reverse mt-5">
                        
                        <img src="/images/Science_Up_Close_Logo_RGB.png" alt="Science Up Close Logo" width=34% />
                    </div>
                </v-row>
            </v-container>
        </v-col>
    </v-row>
    </div>


</template>

<script lang="ts" setup>

import { ref, onMounted, watch, computed } from 'vue'
import LHCInfo2 from './LHCInfo2.vue'
import APIServices from '../services/APIServices'

const eventUrlBase = ref<string>('https://cmsonline.cern.ch/evtdisp');
const eventUrlRcdBase = ref<string>('http://localhost:5000/event_display');

const event2D = ref<string>(eventUrlBase.value+'/Lego_2.png');
const eventRhoZ = ref<string>(eventUrlBase.value+'/RhoZ.png');
const eventRhoPhi = ref<string>(eventUrlBase.value+'/RhoPhi.png');
const lhcp1 = ref<string>("https://vistar-capture.s3.cern.ch/lhc1.png")

const proton1 = ref<HTMLElement|null>(null);
const proton2 = ref<HTMLElement|null>(null);



const linkupInfo = [
    {time: '10:15', experiment: 'ATLAS'},
    {time: '10:45', experiment: 'LHCb'},
    {time: '11:30', experiment: 'LHCb'},
    {time: '12:15', experiment: 'ATLAS'},
    {time: '13:00', experiment: 'ATLAS'},
    {time: '13:45', experiment: 'LHCb'},
    {time: '14:30', experiment: 'ATLAS'},
    {time: '15:30', experiment: 'LHCb'}
]

const nextLinkup = ref(linkupInfo[0]);
const timeToNextLink = ref(0);

const liveLinkupStr = computed(() => {
    if (timeToNextLink.value <= 0) return "Next Live link up is Now!";
    return `Next Live link up in ${timeToNextLink.value.toFixed(0)} minutes (${nextLinkup.value.time})`
});

let updateIntervalID = 0;
onMounted(() => {
    startRefresh();
    liveLinkupSelectStart();
    loadCMSDataLive();
    setInterval(loadCMSData,23100);
    //startAnimation();
});

function liveLinkupSelectStart(){
    liveLinkupSelect();
    setInterval(liveLinkupSelect, 60000);
}

function liveLinkupSelect(){
    const now = new Date();
    for(const linkup of linkupInfo){
        const hour = parseInt(linkup.time.split(':')[0]);
        const min = parseInt(linkup.time.split(':')[1]);
        if (now.getHours() < hour || (now.getHours() === hour && now.getMinutes() < min + 5)){
            nextLinkup.value = linkup;
            const nextTime = new Date(now.getTime());
            timeToNextLink.value = (nextTime.setHours(hour,min,0,0) - now.getTime())/60000
            break;
        }
    }
    
}

function startAnimation()  {
    if (proton1.value === null || proton2.value === null) {
        return;
    }    
    proton1.value.style.animation = "moveProton1 2s 4s";
    proton2.value.style.animation = "moveProton2 2s 4s";
}

 
 
function startRefresh(){
    stopRefresh();
    if (useLive.value===true){
        updateIntervalID = setInterval(() => {
            event2D.value = eventUrlBase.value+'/Lego_2.png?'+Math.random();
            eventRhoZ.value = eventUrlBase.value+'/RhoZ.png?'+Math.random();
            eventRhoPhi.value = eventUrlBase.value+'/RhoPhi.png?'+Math.random();
            lhcp1.value = "https://vistar-capture.s3.cern.ch/lhc1.png?"+Math.random();
        }, 60000);
    }else{
        updateIntervalID = setInterval(() => {
            const now = new Date().getTime();
            const eventTime = Math.floor((now - timeStarted.getTime()+timeRcd.getTime())/1000);
            event2D.value = eventUrlRcdBase.value+'/'+eventTime+'/Lego_2';
            eventRhoZ.value = eventUrlRcdBase.value+'/'+eventTime+'/RhoZ';   
            eventRhoPhi.value = eventUrlRcdBase.value+'/'+eventTime+'/RhoPhi';          
            
        }, 60000);
    }
}

function stopRefresh() {
    clearInterval(updateIntervalID);
}

watch(proton1,()=>{
    startAnimation();
})

const cmsData = ref({
    runnr: 0,
    lumisec: 0,
    nbunches: 2340,
    pileup: 65,
    instLumi: 0,
    physicsRate: 0,
    daqBandWidth: 0,
})

const useLive = ref(true)
const collisionsTitleStr = computed(()=>{
    if (useLive.value) return "live proton-proton collisions at the CMS experiment at the CERN LHC"
    return "proton-proton collisions at the CMS experiment at the CERN LHC"
})
const dataCollTime= computed(()=>{
    if (useLive.value) return "live"
    return "27/06/24"
})

async function loadCMSData(){
    if (dataCollTime.value === "live"){
        await loadCMSDataLive();
    }
    else {
        await loadCMSDataRecorded();
    }
    
}

async function loadCMSDataLive(){
    const runData = (await APIServices.getRunData(undefined)).data.data[0].attributes
    await loadCMSDataWorker(runData.run_number,undefined)
}

let lumisecRcd = 75;
const timeRcd = new Date()
timeRcd.setTime(Date.parse("2024-06-27 14:37:17")) //trying to map to my time of on my laptop
const timeStarted = new Date()


async function loadCMSDataRecorded(){

    await loadCMSDataWorker(382504,lumisecRcd)
    lumisecRcd += 1
}

async function loadCMSDataWorker(run_number: number, lumiSec: number| undefined){
    const streamRatesRAW = await APIServices.getStreamRatesF3mon(run_number,lumiSec)
    cmsData.value.physicsRate = 0
    cmsData.value.daqBandWidth = 0
    for(const stream of streamRatesRAW.data.data){
        if (stream.attributes.stream_name.startsWith("Physics")){
            cmsData.value.physicsRate += stream.attributes.n_events/23.3
        
        }
        cmsData.value.daqBandWidth += stream.attributes.bandwidth
    }

    const lumiSecInfo = {init_lumi : 0, pileup: 0, lumi_sec: 0}
    try {
        const lumiSecInfoRAW = await APIServices.getLumiSection(run_number,lumiSec)          
        lumiSecInfo.init_lumi = lumiSecInfoRAW.data.data[0].attributes.init_lumi
        lumiSecInfo.lumi_sec = lumiSecInfoRAW.data.data[0].attributes.lumisection_number
        lumiSecInfo.pileup = lumiSecInfoRAW.data.data[0].attributes.pileup
    }
    catch(err){
        console.log("err lumi sec",err)
    }

    cmsData.value.pileup = lumiSecInfo.pileup
    cmsData.value.runnr = run_number
    cmsData.value.lumisec = lumiSecInfo.lumi_sec
    cmsData.value.instLumi = lumiSecInfo.init_lumi

    console.log("cmsData",cmsData.value)
    
    
}   



</script>



<style scoped>
.image-container {
  position: relative;
  display: inline-block;
}

.background-image {
  width: 100%;
  height: auto;
}

.arrow {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  background-color: red; /* Change color as needed */
  clip-path: polygon(0 0, 100% 50%, 0 100%);
  animation: moveArrows 5s infinite;
}

.arrow-left {
  left: 0;
  transform: translateY(-50%);
  animation-direction: normal;
}

.arrow-right {
  right: 0;
  background-color: blue;
  transform: translateY(-50%) rotate(180deg);
  animation-direction: normal;
}

@keyframes moveArrows {
  0% {
    left: 0;
    right: 0;
  }
  50% {
    left: 50%;
    right: 50%;
  }
  100% {
    left: 0;
    right: 100;
  }
}

.proton {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
}
#proton1 {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

#proton2 {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

@keyframes moveProton1 {
    0% { left: 0; }
    50% { left: 50%; }
    100% { left: 0; }
}

@keyframes moveProton2 {
    0% { right: 0; }
    50% { right: 50%; }
    100% { right: 0; }
}
</style>