<template> 
    <v-card>
        <v-card-title class="text-h3">
            CMS Data Taking Stats:
        </v-card-title>
        <v-card-text class="text-h3">
            <table width=100% class="cmstable">
            <tr><td>data collection time </td><td>:</td><td> <b>{{dataCollTime}}</b></td></tr>
            <tr><td>collisions / event </td><td>:</td><td> {{pileup.toFixed(1)}}</td></tr>
            <tr><td>proton collisons / s </td><td>:</td><td>{{collisionsStr}}</td></tr>
            <tr><td><i>Z</i> bosons / s </td><td>:</td><td>{{zRate}}</td></tr>
            <tr><td>top pairs / s </td><td>:</td><td>{{topRate}}</td></tr>
            <tr><td>Higgs bosons / s </td><td>:</td><td>{{higgsRate}}</td></tr>
            <tr><td>Dark Matter particles / s </td><td>:</td><td><i>???</i></td></tr>
            <tr><td>events readout / s </td><td>:</td><td> {{ physicsRate.toFixed(1) }} </td></tr>
            <tr><td>readout bandwidth </td><td>:</td><td> {{ daqBandwidthStr }} </td></tr>
            </table>
         </v-card-text>
    </v-card>
    
</template>

<script lang="ts" setup>
import { computed } from 'vue'
//const lhcRate = ref<number>(30000000);
//const pileup = ref<number>(65.1)
//const instLumi = ref<number>(2.1)

const convToPB = 0.001

const higgsCrossSection = 59.9
const topCrossSection = 923.6
const zCrossSection = 1921.8

const props = defineProps<{
    lhcRate: number,
    pileup: number,
    instLumi: number,
    physicsRate: number,
    daqBandwidth: number
    dataCollTime: string
}>()



const higgsRate = computed(() => {
    return (props.instLumi * convToPB * higgsCrossSection).toFixed(1);
});
const zRate = computed(() => {
    return (props.instLumi * convToPB * zCrossSection).toFixed(1);
});
const topRate = computed(() => {
    return (props.instLumi * convToPB * topCrossSection).toFixed(1);
});

const collisionsStr = computed( () => {
    return `${(props.lhcRate*props.pileup / 1E9).toFixed(1)} billion`
})

const daqBandwidthStr = computed( () => {
    return `${(props.daqBandwidth/1000).toFixed(1)} GB/s`
})

</script>

<style scoped>
.cmstable {
    border-spacing: 15px 5px;
}
</style>