<template> 
    <v-text-field
        v-model="lhcRate"
        label="collisions / s"
        outlined
        dense
        clearable>
    </v-text-field>
    <v-text-field
        v-model="pileup"
        label="<collisions> / crossing"
        outlined
        dense
        clearable>
    </v-text-field>
    <v-text-field
        v-model="higgsRate"
        label="Higgs / s"
        outlined
        dense
        clearable>
    </v-text-field>
    <v-text-field
        v-model="topRate"
        label="Top - AntiTop  / s"
        outlined
        dense
        clearable>
    </v-text-field>
    <v-text-field
        v-model="zRate"
        label="Z boson  / s"
        outlined
        dense
        clearable>
    </v-text-field>
</template>

<script lang="ts" setup>
import { ref } from 'vue'
const higgsRate = ref<string>('0.1');
const lhcRate = ref<string>('30000000');
const topRate = ref<string>('40')
const zRate = ref<string>('40')
const pileup = ref<string>('65')
</script>

