<template>
    <div>test {{ url }}</div>
    <iframe :src="url" width="100%" height="100%"></iframe>
</template>

<script lang="ts" setup>
import { ref } from 'vue'




const urls = [
  'https://www.hep.ph.ic.ac.uk/~cvw09/event_display.html',
  'https://nusoft.fnal.gov/nova/public/'
];
const url = ref<string>(urls.value!=undefined ? urls.value[0] : '');
const urlIndex = ref<number>(0);

const urlChangeID = setInterval(() => {
  urlIndex.value = (urlIndex.value+1)%urls.length;
  url.value = urls[urlIndex.value];
  console.log("changing url", url.value, urlIndex.value)
}, 10000);
</script>