<template>
    <div class="split-pannel" ref="pannel" style="width: 100%;" @mouseup="endDrag">
        <div class="split-pannel__left">
            <slot name="left"></slot>
        </div>
        <div class="divider" @mousedown="startDrag"></div>
        <div class="split-pannel__right">
            <slot name="right"></slot>
        </div>        
    </div>
</template>

<script setup lang="ts">
import { ref,onMounted,computed} from 'vue';
const props = defineProps({
    initialFracLeft: {type: Number, default: 0.5},
    initialMinLeft: {type: Number}
});
const fracLeft = ref(props.initialFracLeft);
const pannel = ref<HTMLInputElement|null>(null)
const dividerWidth = 5
const pannelWidth = ref(0)
let initalised = false
const widthLeft = computed(() => {
    if (!pannel.value) return 0;
    return `${fracLeft.value*(pannelWidth.value-dividerWidth)}px`; //possibly client width
});
const widthRight = computed(() => {
    
    if (!pannel.value) return 0;
    return `${(1-fracLeft.value)*(pannelWidth.value-dividerWidth)}px`; //possibly client width
});

const emit = defineEmits(['resize']);

onMounted(() => {; 
    pannelWidth.value = pannel.value?.getBoundingClientRect().width ?? 0;   
    
    resizeObserver.observe(pannel.value as Element);
});    

const resizeObserver = new ResizeObserver((entries) => {
    pannelWidth.value = entries[0].contentRect.width;    
    if (!initalised){
        const leftWidth = fracLeft.value*(pannelWidth.value-dividerWidth)
        if(props.initialMinLeft && leftWidth < props.initialMinLeft && pannelWidth.value > 0){
            initalised = true
            fracLeft.value = props.initialMinLeft/(pannelWidth.value-dividerWidth)
            emit('resize')
        }
    }
    emit('resize')
});



function drag(e:MouseEvent){
    e.preventDefault();
    if(!pannel.value) return;
    const pos = pannel.value.getBoundingClientRect()
    if (e.clientX < pos.left) return;
    if (e.clientX > pos.right) return;


    const leftRightWidth = pannelWidth.value-dividerWidth
    fracLeft.value = (e.clientX-pos.left)/ leftRightWidth 
    emit('resize')
}

function startDrag(e:MouseEvent){
    e.preventDefault();
    window.addEventListener('mousemove', drag);
}
function endDrag(e:MouseEvent){    
    window.removeEventListener('mousemove', drag);
}



</script>



<style scoped>
.split-pannel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.divider {
  background-color: #666;
  width: 5px;
  cursor: col-resize;
}
.split-pannel__left {
    width: v-bind(widthLeft);
    height: 100%;
}
.split-pannel__right {
    width: v-bind(widthRight);
    height: 100%;
}

</style>
